html,body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #FFFFFF;
  font-family: 'Poiret One', cursive;
  color: #E94F37;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.scores {
  
}

p {
  display: inline-block;
  font-size: 20px;
}

main {
  display: inline-block
}

canvas {
  background-color: #99badd;
  /* background-image: url("https://www.transparenttextures.com/patterns/felt.png"); */
}
